<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=PMCLAP1008\SQLEXPRESS;Database=test123;User ID=sa;Password=pmc123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>